/* GLOBAL */

* {
    font-family: Raleway;
}

:root {
    --blue-color: #0065FC;
    --lightblue-color: #DEEBFF;
    --grey-color: #F2F2F2;
    --darkgrey-color: #D9D9D9;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

header img {
    height: 2rem;
}

header a {
    margin-right: 2rem;
    text-decoration: none;
}

header a:hover,
a:focus {
    color: var(--blue-color);
    text-decoration: underline;
    text-underline-offset: -3.95rem;
    text-decoration-thickness: 0.1rem;
}

/* MAIN */

/* .container_search p {} */

/* searchbar */
form {
    display: flex;
    align-items: stretch;
}

.searchbar_icone_location {

    background-color: var(--grey-color);
    padding: 0.5rem;
    border-radius: 10px 0px 0px 10px;

}
.searchbar_icone_location:hover {
    background-color: var(--darkgrey-color);
}

.searchbar_text {
    border-top: 1px solid var(--grey-color);
    border-left: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
    border-right: none;
}

.searchbar_text:focus {
    outline: none;
}

.searchbar_button_search {

    border: none;
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 0px 10px 10px 0px;
}

.searchbar_button_search:hover {
    background-color: var(--lightblue-color);
    color: #000;
}

/* filter */
.filter {
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
}

.filter div {
    margin-left: 2rem;
    border: 0.1rem solid var(--darkgrey-color);
    border-radius: 25px;
    padding: 0px 1rem
}
.filter div:hover,.filter div:focus, .filter div:active {
    background-color: var(--lightblue-color);
}

.filter p {
    font-weight: bold;
}
.filter a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}
.filter a p {
    padding-left: 0.5rem;
}

/* information */

.information {
    display: flex;
    align-items: center;
}

.information img {
    border: 0.1rem solid var(--darkgrey-color);
    border-radius: 50%;
    padding: 0.3rem;
    margin-right: 0.75rem;
    height: 1rem;
}
.information img:hover {
    background-color: var(--lightblue-color);
}

/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
/* .stars:hover~.star {
    color: gray;
} */

/* FOOTER */